[submodule "sw/kc1fsz-tools-cpp"]
	path = sw/kc1fsz-tools-cpp
	url = https://github.com/brucemack/kc1fsz-tools-cpp.git
[submodule "sw/radlib"]
	path = sw/radlib
	url = https://github.com/brucemack/radlib.git
[submodule "sw/gsm-0610-codec"]
	path = sw/gsm-0610-codec
	url = https://github.com/brucemack/gsm-0610-codec.git
[submodule "sw/cobs-c"]
	path = sw/cobs-c
	url = https://github.com/cmcqueen/cobs-c.git
[submodule "sw/amp-core"]
	path = sw/amp-core
	url = https://github.com/Ampersand-ASL/amp-core.git
